* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: helvetica, sans-serif;
}

#main-container {
    /* border: 2px solid blue; */
    
    background-color: #dbeafe;
    height: 100vh;

    display: grid;
    grid-template-rows: .5fr 5fr;
}

.navbar {
    /* border: 3px solid purple; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    color: #162554;
    font-size: 1.5em;
    font-weight: bold;
}


.main-content {
    /* border: 2px solid red; */
    
    display: grid;
    grid-template-rows: .5fr 4fr;
}

.book-placeholder {
    /* border: 3px solid green; */
}

.button-section {
    /* border: 3px solid pink; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"],
button {
    background-color: #93c5fd;
    color: #162554;
    
    border: none;
    border-radius: 5px;
    padding: 1em;
}

input[type="submit"]:hover,
button:hover {
    background-color: #698aaf;
    color: #162554;
    
    border: none;
    border-radius: 5px;
    padding: 1em;
}

.form-container {
    /* border: 3px solid red; */

    display: grid;
    width: 25em;
    height: 20em;
    padding: 2.5em;
}

.modal {
    position: fixed;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.50rem;
    z-index: 10;
    border: 2px solid white;
}

.label-input {
    display: grid;
}

.read-status {
    /* border: 2px solid blue; */
    
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    width: fit-content;
}