* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    /* border: 2px solid blue; */
    
    background-color: #dbeafe;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;
}

.main-content {
    /* border: 2px solid red; */
    
    display: flex;
    align-items: center;
}

button {
    background-color: #93c5fd;
    color: #1d3a8a;
    
    border: none;
    border-radius: 5px;
    padding: 1em;
}