* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: helvetica, sans-serif;
}

#main-container {
    /* border: 2px solid blue; */
    
    background-color: #dbeafe;
    height: 100vh;

    display: grid;
    grid-template-rows: .5fr 5fr;
}

.navbar {
    /* border: 3px solid purple; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    color: #162554;
    font-size: 1.5em;
    font-weight: bold;
}


.main-content {
    border: 2px solid red;
    
    display: grid;
    grid-template-rows: .5fr 4fr;
    /* align-items: center;
    justify-content: center; */
}

.button-section {
    border: 3px solid pink;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    background-color: #93c5fd;
    color: #162554;
    
    border: none;
    border-radius: 5px;
    padding: 1em;
}

.form-container {
    width: 25em;
    height: 20em;
    padding: 1em;
    display: grid;

    border: 1px solid red;
}

dialog {
    position: absolute;
    top: 40vh;
    left: 37vw;
}

.label-input {
    display: grid;
}